/node_modules
/Resources

Informazioni di sviluppo.pdf
Informazioni di sviluppo.docx
Informazioni di sviluppo
Martina_Vecchio_Credenziali
Martina_Vecchio_Credenziali.txt

.history
/.history
.history/

Resources/
Resources
/Resources/
/Resources